.initially-hidden {
  display: none;
}

body {
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-image: url(http://admin.mylen.ru/images/Wallpaper-Blue-Lines-valichi-di-frontiera-il-bagliore.jpg);
  margin-bottom: 50px;
}

.jumbotron {
  color: orange;
  font-size: 100px;
  background-image: url(http://www.hdwallpapery.com/static/images/Night-Urban-l_QUW1agZ.jpg);
  height: 10em;
  background-size: cover;
  border-radius: 150px;
}

h1 {
  color:orange;
  text-align: center;
  margin-bottom: 70px;
}

.row {
  text-align: center;
}

p {
  font-size: 2em;
}
